body {
	font: 0.75em Helvetica, sans-serif;
	width: 60%;
	margin: 40px auto 60px auto;
	padding: 0;
}

h1 {
	font-size: 1.5em;
	font-weight: lighter;
	letter-spacing: 2px;
	border-bottom: 1px solid #000;
}

h2 {
	font-size: 1.25em;
	font-weight: lighter;
}

h3 {
	font-size: 1.125em;
	font-weight: lighter;
	border-bottom: 1px solid #000;
}

li {
	font-size: 1em;
	font-weight: lighter;
}

.underline {
  border-bottom: 1px solid #8C001A;
}

.header {
  background-color: burlywood;
  border-bottom: 1px solid #8C001A;
  padding: 5px;
}

.addACar {
  border: 1px solid #8C001A;
  width: 25%;
  float: left;
  /*background-color: grey;*/
}

.cars {
  width: 70%;
  float: right;
}

.rate1 {
  border: 1px solid #000;
	background-color: tomato;
	margin-top: 5px;
	padding: 5px;
}

.rate2 {
	border: 1px solid #000;
	background-color: coral;
	margin-top: 5px;
	padding: 5px;
}

.rate3 {
	border: 1px solid #000;
	background-color: goldenrod;
	margin-top: 5px;
	padding: 5px;
}

.rate4 {
	border: 1px solid #000;
	background-color: yellowgreen;
	margin-top: 5px;
	padding: 5px;
}

.rate5 {
	border: 1px solid #000;
	background-color: mediumseagreen;
	margin-top: 5px;
	padding: 5px;
}

.forms {
  margin: 5px;
  padding-bottom: 5px;
  text-align: left;
}

.buttom {
  text-align: right;
}

.remove {
	float: right;
	margin: 5px;
	opacity: 0.5;
}

.remove:hover {
	opacity: 1;
}

input[type=text] {
    padding:5px;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=number] {
    padding:5px;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus {
    border-color:#333;
}

input[type=submit] {
    font-size: 1em;
    text-align: center;
    padding: 5px 25px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
